server-soap/WalletService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://18.206.51.111:3000/wallet"
             targetNamespace="http://18.206.51.111:3000/wallet">

    <!-- Tipos de datos utilizados en las operaciones -->
    <types>
        <xsd:schema targetNamespace="http://18.206.51.111:3000/wallet">
            <xsd:element name="document" type="xsd:string"/>
            <xsd:element name="fullName" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="phoneNumber" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:decimal"/>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="balance" type="xsd:decimal"/>
        </xsd:schema>
    </types>

    <!-- Mensajes -->
    <message name="RegistroClienteRequest">
        <part name="document" type="xsd:string"/>
        <part name="fullName" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
    </message>
    <message name="CargaDineroRequest">
        <part name="document" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
        <part name="amount" type="xsd:decimal"/>
    </message>
    <message name="PagarRequest">
        <part name="document" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
        <part name="amount" type="xsd:decimal"/>
    </message>
    <message name="  ">
        <part name="sessionId" type="xsd:string"/>
        <part name="code" type="xsd:string"/>
    </message>
    <message name="ConsultaSaldoRequest">
        <part name="document" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
    </message>
    <message name="RegistroClienteResponse">
        <part name="document" type="xsd:string"/>
        <part name="fullName" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
    </message>
    <message name="CargaDineroResponse">
        <part name="document" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
        <part name="amount" type="xsd:decimal"/>
    </message>
    <message name="PagarResponse">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="ConfirmarPagoResponse">
        <part name="sessionId" type="xsd:string"/>
        <part name="code" type="xsd:string"/>
        <part name="amount" type="xsd:decimal"/>
        <part name="document" type="xsd:string"/> 
    </message>
    <message name="ConsultaSaldoResponse">
        <part name="document" type="xsd:string"/>
        <part name="phoneNumber" type="xsd:string"/>
        <part name="amount" type="xsd:decimal"/>
        <part name="fullName" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
    </message>

    <!-- Port Type (Interfaz) -->
    <portType name="WalletService">
        <operation name="RegistroCliente">
            <input message="tns:RegistroClienteRequest"/>
            <output message="tns:RegistroClienteResponse"/>
        </operation>
        <operation name="CargaDinero">
            <input message="tns:CargaDineroRequest"/>
            <output message="tns:CargaDineroResponse"/>
        </operation>
        <operation name="Pagar">
            <input message="tns:PagarRequest"/>
            <output message="tns:PagarResponse"/>
        </operation>
        <operation name="ConfirmarPago">
            <input message="tns:PagarRequest"/>
            <output message="tns:PagarResponse"/>
        </operation>
        <operation name="ConsultaSaldo">
            <input message="tns:ConsultaSaldoRequest"/>
            <output message="tns:ConsultaSaldoResponse"/>
        </operation>
    </portType>

    <!-- Binding (Cómo se comunica) -->
    <binding name="WalletSoapBinding" type="tns:WalletService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="RegistroCliente">
            <soap:operation soapAction="http://18.206.51.111:3000/wallet/RegistroCliente"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CargaDinero">
            <soap:operation soapAction="http://18.206.51.111:3000/wallet/CargaDinero"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Pagar">
            <soap:operation soapAction="http://18.206.51.111:3000/wallet/Pagar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConsultaSaldo">
            <soap:operation soapAction="http://18.206.51.111:3000/wallet/ConsultaSaldo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Servicio -->
    <service name="WalletService">
        <port name="WalletPort" binding="tns:WalletSoapBinding">
            <soap:address location="http://18.206.51.111:3000/wallet"/>
        </port>
    </service>

</definitions>